<app-header></app-header>
<main id="about">

    <div class="bg-banner">
      <div class="jumbotron  jumbotron-fluid">
        <div class="container middle text-center ">
          <h1 class="first-tittle">ABOUT LESSOFT</h1>
          <p class="lead">A Business Of Passion. A Passion Of Business</p>
        </div>
      </div>
      <div class="about-border"></div>
    </div>
    <div class="bg-about">
    <div class="row m-0">
        <div class="col-7 about-col" >
            <section class="about-section mt-3">
                <div class="container inside-about">
                    <h3>For more than 40 years, Lessoft has been changing the way people play.</h3>
                </div>
                <div class="para-about">
                    <p>For more than 40 years, Lessoft has been changing the way people play.  In the process, we have
                 built one of the largest portfolios of recognized brands
                 and today we are one of the most valuable interactive entertainment companies in the world.</p>
                 <p>Founded in 1979 as the first independent video game software developer and distributor, the company launched a series of
                 multi-million unit selling titles in the early 1980s for the Atari 2600 including Pitfall, Kaboom! and River Raid.   And since then,
                 Lessoft has created some of the most iconic and memorable game experiences of all time.</p>
                 <p>Today, the company is a leading worldwide developer, publisher and distributor of interactive entertainment and leisure products for
                 various consoles, handheld platforms and the PC. 
                 Over the past five years, we have continued to thrive as a leading digital entertainment provider whose games appeal to a variety of gamers.</p>
                 <p>We strive to make the most fun, thrilling, and engaging entertainment experiences for our players, who live in a world with many entertainment options.
                  We operate in more than 15 countries including in the U.S., Canada, Brazil, Mexico, the United Kingdom, France, Germany, Ireland, Italy, Sweden, Spain,
                  Denmark, the Netherlands, Australia, Singapore, mainland China, Hong Kong and the region of Taiwan.</p>
                </div>
            </section>
        </div>
        <div class="col-lg-5 col-md-6 col-md-12 banner-col">
            <section class="about-company-banner mt-3">
            <img src="https://www.activision.com/content/dam/atvi/activision/company/locations/shanghai/Shanghai_Building.jpg" class="img-fluid   about-img w-100" alt="">
        </section>
        </div>
      </div>
    </div>
    
  </main>