<app-header></app-header>

<main id="contact">
  <div class="bg-banner  sticky ">
    <div class="jumbotron  jumbotron-fluid mb-0">
      <div class="row mr-0 ">
        <div class="col-12 col-sm-8 col-md-3 formclass ml-auto  ">
          <form  method="POST">
            <div class="form-group ">
              <input type="text" class="form-control" id="exampleInputText" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputText" placeholder="Last Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group ">
              <input type="text" class="form-control" id="exampleInputText" placeholder="Username">
            </div>
            <div class="form-group ">
              <input type="password" class="form-control" id="exampleInputText" placeholder="Password">
            </div>
            <div class="form-group ">
              <input type="password" class="form-control" id="exampleInputText" placeholder="Confirm Password">
            </div>
              <div class="form-check mb-3 mt-4 text-center">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  <span>Remember me</span> 
                </label>
              </div>
              <button type="submit" class="btn btn-outline-light  mb-2 mt-2 submit-btn" value="Submit">Submit</button>
          </form>
         
        </div>
         

    

    
  </div>
 
</div>

</div>
<div class="col-12   p-0  ">
  <div class="jumbotron-2 ">
  <footer class="page-footer ">
    <h4 class="text-center mt-3">Follow US</h4>
    <div class="container icons">
      <ul class="list-unstyled list-inline text-center ">
     
        <li class="list-inline-item">
          <a class="btn-floating facebook btn-fb  mx-2">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating youtube btn-fb  mx-2">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating skype btn-fb  mx-2 ">
            <i class="fab fa-skype"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating twitter btn-tw mx-2">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating instagram btn-gplus mx-2 ">
            <i class="fab fa-instagram "></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center mt-5">© 2050 Created On <span class="footertext"> M A R S </span> By
      Humans
    </div>
  </footer>
  </div>
</div>

  
  </main>