<app-header></app-header>


<main id="technology">
  <div class="card-deck">
    <div class="card border-0" >
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/eacom/pvz/pvz-bfn/images/2021/03/pvz-ce-release-scientist-02.png.adapt.crop16x9.431p.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title ">Plants vs. Zombies: Battle for Neighborville</h5>
        <h3>Five Fun Things to Try in PvZ: Battle for Neighborville on Nintendo Switch</h3>
        <p class="card-text "> Explore offline, unlock wacky customizations through play, and more! </p>
        <p class="card-text"><small class="text-muted ">May 19.2021</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/news/ea-play-subscription/images/2021/03/ea-image-210316-game-pass-article-eaonlycore-16x9.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electronic Arts Inc.</h5>
        <h3>EA Play Now Available on Xbox Game Pass for PC via EA Desktop App</h3>
        <p class="card-text"> EA Desktop, our next-generation PC platform, is in open beta, we’re joining forces with Xbox to give more games to PC players.
        </p>
        
        <p class="card-text"><small class="text-muted">Mar 18.2021</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2021/01/apexlegends-switch-3840x2160.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electronic Arts Inc.</h5>
        <h3>Apex Legends Launches on Nintendo Switch on March 9th, 2021</h3>
        <p class="card-text"> Apex Legends is coming to Nintendo Switch on March 9th, 2021. </p>
        <p class="card-text"><small class="text-muted">Jun 2.2021</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/news/ea-play-subscription/images/2020/09/eap-pro-blogheader-v2.png.adapt.crop16x9.431p.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electronic Arts Inc.</h5>
        <h3>EA Play Pro Spotlight - September 2021</h3>
        <p class="card-text"> Find out all about the latest rewards and games now available with your EA Play Pro membership. </p>
        <p class="card-text"><small class="text-muted">Sep 7.2021</small></p>
      </div>
    </div>
  </div>


  <div class="card-deck">
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/eacom/c-ko/images/2021/02/koc-keyart-image-asset-16x9.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title ">Knockout City</h5>
        <h3 >Welcome to Knockout City</h3>
        <p class="card-text ">Team up and duke it out with rival Crews in Knockout City™, a new cross-platform multiplayer game that takes dodgebrawling to the streets!
        </p>
        <p class="card-text"><small class="text-muted ">Feb 17.2021</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/news/ea-play-subscription/images/2020/12/ea-play-dec-content-drop-featured-image.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electronic Arts Inc.</h5>
        <h3>EA Play Spotlight - April 2021</h3>
        <p class="card-text">Learn all about the latest games and rewards now available with your EA Play membership.</p>
        <p class="card-text"><small class="text-muted">Apr 14.2021 </small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2021/03/news-fair-play-and-dynamic-difficulty-adjustment.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electronic Arts Inc.</h5>
        <h3>Fair Play & Dynamic Difficulty Adjustment</h3>
        <p class="card-text"> Ensuring play is fair is critical to all of us at EA. </p>
        <p class="card-text"><small class="text-muted">May 3.2021</small></p>
      </div>
    </div>
    <div class="card border-0">
      <img class="card-img-top" src="https://media.contentapi.ea.com/content/dam/apex-legends/common/articles/two-years-of-apex-legends/apex-featured-image-two-year-anniversary.jpg.adapt.crop16x9.431p.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Apex Legends</h5>
        <h3>Looking Back on Two Years of Apex Legends</h3>
        <p class="card-text">Two years later, we’re just getting started.</p>
        <p class="card-text"><small class="text-muted">Apr 18.2021</small></p>
      </div>
    </div>
  </div>  
</main>