<app-header></app-header>
<main id="home">
  <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
      <li data-target="#video-carousel-example2" data-slide-to="1"></li>
      <li data-target="#video-carousel-example2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="bg-video-4"></div>
        <div class="view">
          <video class="video-fluid" autoplay loop muted [muted]="true" and [autoplay]="true" >
            <source src="https://www.activision.com/cdn/videos/callofduty_mw_warzone_season4.mp4" type="video/mp4" />
          </video>
          <div class="mask rgba-indigo-light"></div>
        </div>
      </div>
      <div class="carousel-item">
   <div class="bg-video-3">

   </div>
        <div class="view">
          <!--Video source-->
          <video class="video-fluid " autoplay loop muted [muted]="true" and [autoplay]="true">
            <source src="https://www.activision.com/cdn/videos/cod-blackops-coldwar.mp4" type="video/mp4" />
          </video>
          <div class="mask rgba-purple-slight"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="bg-video-2"></div>
        <!--Mask color-->
        <div class="view">
          <!--Video source-->
          <video class="video-fluid" autoplay loop muted [muted]="true" and [autoplay]="true">
            <source src="https://www.activision.com/cdn/videos/crashbandicoot_crash4.mp4" type="video/mp4" />
          </video>
          <div class="mask rgba-black-strong"></div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 
 


</main>
<app-games></app-games>
<app-about></app-about>
<app-technology></app-technology>
<app-contact></app-contact>










